.footer {
    padding: 1rem;
    margin-top: 2rem;
    width: 97%;
    max-width: 1100px;
}
.footer:before {
    content: " ";
    display: block;
    border-top: 1px dotted var(--main-fg-color);
    position: relative;
    height: 1px;
    width: calc(100% + 9rem);
    top: -2rem;
    margin: 0 0 0 -4.5rem;
    color: inherit !important;
}

    @media screen and (max-width: 600px) {
        .footer {
            margin: 2rem 0 1rem 0 !important;
            width: 100% !important;
            padding: 1rem !important;
        }
        .footer:before {
            margin: 0 !important;
            width: 100% !important;
        }
    }
    @media screen and (max-width: 800px) {
        .footer {
            width: 80%;
            margin: 2rem auto;
            padding-left: 4.5rem;
        }
        .footer:before {
            margin: 2rem 0 0 -3.5rem;
            width: calc(100% + 3.5rem);
        }
    }

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .footer ul li a {
        color: var(--main-fg-color);
        font-size: 0.7rem;
        text-decoration: none;
    }

    .footer ul li a:hover,
    .footer ul li a:focus {
        text-decoration: underline;
    }

    .footer ul li a:focus {
        outline: 1px dotted var(--main-fg-color--faded)    
    }

    .footer span {
        margin-right: 0.5rem;
    }

@media not (hover: hover) {
    .footer ul li a {
        display: block;
        padding: 20px 0;
    }
}
