header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 9rem;
}

@media screen and (max-width: 500px) {
    header {
        justify-content: center;
        flex-flow: column;
        height: 11.9rem
    }
}

.link {
    transition: all 0.5s ease-in-out;

    backface-visibility: hidden;
    perspective: 1000;
    transform: translateZ(0);
    will-change: transform;
}

.link:hover {
    transform: scale(1.2) rotate(180deg) translateY(7px) translateX(-7px);
}

.link:focus {
    transform: scale(1.2) rotate(180deg) translateY(7px) translateY(-7px);
    outline: none;
}

.logo {
    display: block;
    background: transparent url('../../../img/icon.svg') no-repeat center center;
    text-indent: -1000rem;
    height: 5rem;
    width: 5rem;
    margin: 15px auto 0;
}

.link:focus .logo {
    outline: 1px dotted var(--main-fg-color--faded);
}

.skip {
    height: 0;
    overflow: hidden;
    position: absolute;
}

.skip:focus {
    height: auto;
    top: 10px;
    left: 10px;
    z-index: 10;
    background: #ddd;
    border-radius: 10px;
    border: 3px solid var(--main-fg-color--faded);
    color: var(--main-bg-color);
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.3rem 1rem;
}
