
.menu menu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2rem;
}

.menu li {
    flex-grow:1;
}

.menu a {
    display: block;
    height: 100%;
    width: 100%;
    color: var(--main-fg-color);
    text-decoration: none;
    padding: 1.65rem 0.7rem;
    transition: all 0.1s ease-in-out;
    text-align: center;
    text-transform: capitalize;
}

@media screen and (max-width: 500px) {
    .menu a {
        padding: 0.7rem;
    }
}

.menu a:hover {
    text-decoration: underline;
    transform: scale(1.07);
}
.menu a:focus {
    text-decoration: underline;
    transform: scale(1.07);
    outline: none;
    border: 1px dotted var(--main-fg-color--faded);
}
