@import '@fontsource/open-sans';

:root {
    --main-fg-color: #DEA54B;
    --main-fg-color--faded: #DEA54B99;
    --main-fg2-color: #d9c5b2;
    --main-fg2-color--faded: #d9c5b299;
    --main-bg-color: #14110F;
    --main-bg2-color: #28221e;

    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--main-fg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    min-width: 280px;
    min-height: 100vh;
    overflow-x: hidden;
    background:
      radial-gradient(circle farthest-side at 0% 50%,var(--main-bg-color) 23.5%,#0000 0)52.5px 75px,
      radial-gradient(circle farthest-side at 0% 50%,var(--main-bg2-color) 24%,#0000 0)47.5px 75px,
      linear-gradient(var(--main-bg-color) 14%,#0000 0, #0000 85%,var(--main-bg-color) 0)0 0,
      linear-gradient(150deg,var(--main-bg-color) 24%,var(--main-bg2-color) 0,var(--main-bg2-color) 26%,#0000 0,#0000 74%,var(--main-bg2-color) 0,var(--main-bg2-color) 76%,var(--main-bg-color) 0)0 0,
      linear-gradient(30deg,var(--main-bg-color) 24%,var(--main-bg2-color) 0,var(--main-bg2-color) 26%,#0000 0,#0000 74%,var(--main-bg2-color) 0,var(--main-bg2-color) 76%,var(--main-bg-color) 0)0 0,
      linear-gradient(90deg,var(--main-bg2-color) 2%,var(--main-bg-color) 0,var(--main-bg-color) 98%,var(--main-bg2-color) 0%)0 0 var(--main-bg-color);
    background-size: 100px 150px;
    background-color: var(--main-bg-color);
}

body > * {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
}

@media screen and (max-width: 800px) {
    body > * {
        max-width: 600px;
    }
}

p {
    color: var(--main-fg2-color);
}


h1, h2, h3, 
h4, h5, h6 {
    position: relative;
}


h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    color: inherit;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
    text-decoration: underline;
}

h1 > a:hover::before,
h2 > a:hover::before,
h3 > a:hover::before,
h4 > a:hover::before,
h5 > a:hover::before,
h6 > a:hover::before {
    display: inline;
    position: absolute;
    content: "# ";
    left: -1.2rem;
}

h1 > a:focus,
h2 > a:focus,
h3 > a:focus,
h4 > a:focus,
h5 > a:focus,
h6 > a:focus {
    text-decoration: underline;
    outline: none;
    border: 1px dotted var(--main-fg-color--faded);
}

h1 > a:focus::before,
h2 > a:focus::before,
h3 > a:focus::before,
h4 > a:focus::before,
h5 > a:focus::before,
h6 > a:focus::before {
    display: inline;
    position: absolute;
    content: "# ";
    left: -1.2rem;
}
