@import '../../style/root.css';

.error-container {
    display: flex;
    padding-left: 1rem;
    gap: 4.5rem;
    margin: 0 auto;
    max-width: 1100px;
}

.error-container > div:first-child {
    flex-grow: 1;
    align-self: center;
}

.error-container > img {
    border-radius: 50%;
    border: 3px solid var(--main-fg-color);
    width: 350px;
}


@media screen and (max-width: 800px) {
    .error-container {
        align-items: center;
        flex-direction: column-reverse;
        gap: 0.5rem;
        width: 90%;
    }

    .error-container > img {
        max-width: 90%;
        width: 150px;
    }
}

@media screen and (max-width: 500px) {
    .error-container * {
        text-align: center;
    }
}
