@import '../../style/root.css';

.howtofindme {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 1100px;
}

.howtofindme ul li a,
.howtofindme p a {
    color: var(--main-fg-color);
    border: 1px dotted transparent;
    outline: none;
}

.howtofindme ul li a:focus,
.howtofindme p a:focus,
.howtofindme ul li a:hover,
.howtofindme p a:hover {
    border-color: var(--main-fg-color);
}

.howtofindme code {
    display: block;
    font-size: 0.15rem;
    margin: 2rem 0 4rem;
}

.howtofindme a svg {
    display: inline-block;
    position: relative;
    top: -5px;
}
.howtofindme a svg path {
    fill: var(--main-fg2-color);
}

@media screen and (max-width: 800px) {
    .howtofindme {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .howtofindme * {
        text-align: center;
    }
}

@media not (hover: hover) {
    .howtofindme ul {
        margin: 0;
        padding: 0;
    }
    .howtofindme ul li { 
        list-style: none;
    } 
    .howtofindme ul li a {
        display: block;
        padding: 25px 0;
    }
}
