@import '../../style/root.css';

.whoami-container {
    display: flex;
    padding-left: 1rem;
    gap: 4.5rem;
    margin: 0 auto;
    max-width: 1100px;
}

.whoami-container > div:first-child {
    flex-grow: 1;
    align-self: center;
}

.whoami-container > img {
    border-radius: 50%;
    border: 3px solid var(--main-fg-color);
    width: 350px;
    animation: float 5s infinite;

    /*
    * Stuff to force hardware acceleration
    */
    backface-visibility: hidden;
    perspective: 1000;
    transform: translateZ(0);
    will-change: transform;
    /*
    * End forcing hardware acceleration
    */
}

@keyframes float {
  0% {
    box-shadow: 0px 5px 15px 0px rgba(222,165,75,0.6);
    transform: translateY(0px);
  }
  49% {
    box-shadow: 0px 25px 15px 0px rgba(0,0,0,0.2);
    transform: translateY(-20px);
  }
  51% {
    box-shadow: 0px -30px 15px 0px rgba(0,0,0,0.2);
    transform: translateY(-20px);
  }
  100% {
    box-shadow: 0px 5px 15px 0px rgba(222,165,75,0.6);
    transform: translateY(0px);
  }
}


@media screen and (max-width: 800px) {
    .whoami-container {
        align-items: center;
        flex-direction: column-reverse;
        gap: 0.5rem;
        width: 90%;
    }

    .whoami-container > img {
        max-width: 90%;
        width: 150px;
    }
}

@media screen and (max-width: 500px) {
    .whoami-container * {
        text-align: center;
    }
}
