@import '../../style/root.css';

.projects-and-services {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 1100px;
}

.projects-and-services p a,
.projects-and-services dd a {
    color: var(--main-fg-color);
    border: 1px dotted transparent;
    outline: none;
}
.projects-and-services p a:hover,
.projects-and-services p a:focus,
.projects-and-services dd a:hover,
.projects-and-services dd a:focus {
    border-color: var(--main-fg-color);
}

.projects-and-services dl * {
    color: var(--main-fg2-color);
}

.projects-and-services dt {
    color: var(--main-fg-color--faded);
}

.projects-and-services dt:after {
    content: ":";
    display: inline;
}

.projects-and-services a svg {
    display: inline-block;
    position: relative;
    top: -5px;
}

.projects-and-services a svg path {
    fill: var(--main-fg2-color);
}
